:root {
  --color-background: #efefef;
  --color-primary: #ff3b3f;
  --color-secondary: #caebf2;
  --color-text: #a9a9a9;
  --color-white: #f9f9f9;
  --color-background-dark: #282828;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-secondary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-white);
  cursor: pointer;
  transition: border-color 0.25s;
  display: block;
  margin: 0 auto;
}
button:hover {
  border-color: var(--color-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

hr {
    color: var(--color-secondary);
    width: 100%;
}

ul {
    text-align: left;
}

input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.card {
  padding: 2em;
  background-color: var(--color-white);
  border-radius: 4px;
}

.pill {
  padding: 0.5em;
  background-color: var(--color-white);
  border-radius: 4px;
}
.pill-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
